body {
    overflow-x: hidden;
}

main {
    background-image: url(img/froe.jpg);
    background-position: 20% 100%;
    /*    background-repeat: no-repeat;*/
    background-size: contain;
}

//*------------FONTE-------------*//

@font-face {
    font-family: manropeLight;
    src: url(web_manrope/Manrope-Light.woff);
}

@font-face {
    font-family: manropeBold;
    src: url(web_manrope/Manrope-Bold.woff);
}

@font-face {
    font-family: manropeRegular;
    src: url(web_manrope/Manrope-Regular.woff);
}

@font-face {
    font-family: manropeMedium;
    src: url(web_manrope/Manrope-Medium.woff);
}

/*------------FONTE-SLUT-------------*/


/*------------------QUOTES OVER SKÆRM-----------------*/

.quote-translate1 {
    z-index: 10;
    white-space: nowrap;
    padding: 300px 0 200px 0;
}

.quote-translate2,
.quote-translate3,
.quote-translate4 {
    z-index: 10;
    white-space: nowrap;
    padding: 0px 0 0px 0;
}

.quote-translate1 h1 {
    /*    font-size: 10rem;*/
    font-size: calc(2.58rem + 10vw);
    overflow: clip;
    white-space: nowrap;
    font-family: raleway;
    font-weight: 600;
    color: white;

}


.quote-translate2 h1,
.quote-translate3 h1,
.quote-translate4 h1 {
    /*    font-size: 10rem;*/
    font-size: calc(1.5rem + 6.5vw);
    overflow: clip;
    white-space: nowrap;
    font-family: raleway;
    font-weight: 100;
    letter-spacing: 5px;
}



.splash .row,
.quote2 .row,
.quote3 .row,
.quote4 .row {
    overflow: hidden;
}

/*------------------QUOTES OVER SKÆRM SLUT-----------------*/


/*------------------TEXT STYLE-----------------*/
h2 {
    font-family: helvetica;
    font-weight: 500;
    font-size: calc(1rem + 1vw);
}

h6 {
    font-family: raleway;
    line-height: 1.5rem;
    font-size: calc(0.8rem + 0.3vw);
    color: white;
}



footer h3 {
    font-family: Raleway;
    font-size: calc(1rem + 0.3vw);
}

h3 {
    font-size: calc(2rem + 2vw);
    font-weight: 600;
    line-height: calc(30px + 2vw);
    padding: 200px 0 200px 0;
    color: white;
}

h4 {
    font-family: Raleway;
    color: white;

}

p {
    font-size: calc(0.8rem + 0.4vw);
    font-family: manropeRegular;
}

a {
    font-size: calc(0.8rem + 0.4vw);
    font-family: manropeMedium;
    text-decoration: none;
    letter-spacing: 0.19rem;
    color: black;
    line-height: 0;


}

svg {
    padding-bottom: 2px;
}

/*------------------TEXT STYLE SLUT-----------------*/

/*------------------SEKTIONER-----------------*/

#section2,
#section4 {
    padding-bottom: 110px !important;
}

#section3 {
    background-image: url(img/landing/sektion3/groenbakke.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
}

#section5 {
    background-image: url(img/landing/sektion5/heks2);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
}

.splash {
    background-image: url(img/landing/splash/splash-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#section6 {}

/*------------------SEKTIONER-SLUT-----------------*/







@media screen and (min-width: 992px) {
    .content-txt {
        padding-left: 100px !important;
    }

    .content-img-sek-1 {
        transform: scale(0.8) translateX(-120px) translateY(100px);
    }

    #section3 {
        background-image: url(img/landing/sektion3/groenbakke.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    #section5 {
        background-image: url(img/landing/sektion5/heks2);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}








/* footer */

.card {
    border: none;
    background-color: transparent;
}




.btn-primary {
    background-color: transparent;
    border: 0.5px solid white;
    text-transform: uppercase;

    font-weight: 400;
    color: white;
}

.btn {
    border-radius: 0px;
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: black;
    background-color: transparent;
    border-color: white;

}

.btn-primary:focus {
    box-shadow: none;
}

.col-md-3 {
    padding-right: 0px;
    padding-left: 0px;
}



.btn:focus {
    box-shadow: none;
    border-color: white;
    background-color: grey;
}

.form-control {
    border-radius: 0px;
    background-color: transparent;
    border: 0.5px solid white;

}

.btn:hover {
    background: white;
    border: 0.5px solid white;
    color: black;

}

.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    border-color: white;
}


/* footer slut */


/* sidebar */

.side {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    width: 50px;
    border-right: 1px dashed rgba(black, .3);
    color: white;
    text-transform: uppercase;
    letter-spacing: .0875rem;
    font-size: 1rem;
    font-weight: 500;

}

a:hover {
    text-decoration: none;
    color: grey;
}

.side_inner {
    position: relative;
    height: 100%;
    padding: 30px;
    white-space: nowrap;
}

a {
    color: inherit;
    word-spacing: 0;
    letter-spacing: 0.09rem;
    text-decoration: none;
}

#section7 a {
     letter-spacing: 0rem;
    font-family: raleway;
    line-height: 1.5rem;
    font-size: calc(0.8rem + 0.3vw);

}

.bottom {
    top: auto;
    bottom: 200px;
     position: absolute;
    left: 0;
    transform: rotate(-90deg) perspective(1px);
    transform-origin: 50px 50px;
    height: 40px;
    line-height: 70px;
    white-space: nowrap;
    word-spacing: .5rem;
}



@media screen and (min-width: 992px) {
    .bottom {
         bottom: 100px;
    }

}


@media screen and (min-width: 992px) {
    main {
             background-repeat: no-repeat;
    }

}


/* sidebar slut */


.growit {
  cursor: pointer;
  padding-top: 10px;
  position: fixed;
left: 30px;
    color: white;
    font-weight: 600;
    font-style: italic;
    font-size: 1.5rem;
    z-index: 1;
text-transform: lowercase !important;
}

/* Scroll down */

#scroll-down:hover,
#scroll-down:focus {
    cursor: pointer;
}

#arrow-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#arrow-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;

}

#scroll-down {
    display: inline-block;
    position: relative;
    padding-top: 25px;
    text-align: center;
    margin-top: -200px;
    color: white;
    font-weight: 500;
    margin-bottom: 50px;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 13px;
    height: 25px;
}

.arrow-down:after {}

#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */

    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */

    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */

    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */

    position: absolute;
    top: 0px;
    left: 50%;
    width: 2px;
    height: 40px;
    background: white;
    content: ' ';
}

@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }

    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}


/* cursor */
a {
    cursor: crosshair;
}



#circle {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 3px solid black;
    pointer-events: none;
}

/* cursor slut */

