body {

    overflow-x: hidden;

}

@font-face {
    font-family: manropeLight;
    src: url(web_manrope/Manrope-Light.woff);
}

@font-face {
    font-family: manropeBold;
    src: url(web_manrope/Manrope-Bold.woff);
}

@font-face {
    font-family: manropeRegular;
    src: url(web_manrope/Manrope-Regular.woff);
}

main {
    background-image: url(img/froe.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/*
.quote-translate {
    transform: translateY(50px);
    overflow-x: hidden;

}*/

.quote-translate1 {
    z-index: 10;
    white-space: nowrap;
    padding: 300px 0 300px 0;
}

.quote-translate2,
.quote-translate3,
.quote-translate4 {
    z-index: 10;
    white-space: nowrap;
    padding: 0px 0 0px 0;
}

.quote-translate1 h1 {
    /*    font-size: 10rem;*/
    font-size: calc(2.58rem + 10vw);
    overflow: clip;
    white-space: nowrap;
    font-family: raleway;
    font-weight: 600;
    color: white;

}


.quote-translate2 h1,
.quote-translate3 h1,
.quote-translate4 h1 {
    /*    font-size: 10rem;*/
    font-size: calc(1.5rem + 6.5vw);
    overflow: clip;
    white-space: nowrap;
    font-family: raleway;
    font-weight: 100;
    letter-spacing: 5px;
}



.splash .row,
.quote2 .row,
.quote3 .row,
.quote4 .row {
    overflow: hidden;
}



h2 {
    font-family: raleway;
    font-weight: 900;
    font-size: calc(1rem + 1vw);
}

p {
    font-size: calc(0.8rem + 0.4vw);
    font-family: manropeRegular;
}

.overflow {}

.content-img-sek-1 {
    /*    transform: scale(0.5) translateX(-120px) translateY(-900px);*/
}

#section2,
#section4 {
    padding-bottom: 110px !important;
}

#section3 {
    background-image: url(img/landing/sektion3/groenbakke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#section5 {
    background-image: url(img/landing/sektion5/heks2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.splash {
    background-image: url(img/landing/splash/splash-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#section6 {
    padding-bottom: 500px !important;
}

h3 {

    font-size: calc(2rem + 2vw);
    font-weight: 600;
    line-height: calc(30px + 2vw);
    padding: 200px 0 200px 0;
    color: white;
}



/*
.body-content__rollig-text {
    white-space: nowrap;
    font-family: raleway;
    font-weight: bold;
    margin-top: 6vw;
}

.rolling-text__text {
    font-size: 7.5vw;
    display: inline-block;
}

.body-content__rollig-text-text {
    white-space: nowrap;
    font-family: raleway;
    font-weight: bold;
    margin-top: 6vw;
}

.rolling-text__text__text {
    font-size: 7.5vw;
    display: inline-block;
}
*/



@media screen and (min-width: 992px) {
    .content-txt {
        padding-left: 100px !important;
    }

    .content-img-sek-1 {
        transform: scale(0.8) translateX(-120px) translateY(100px);
    }

    main {
        /*        background-image: url(img/froe.jpg);*/
    }
}
